# Python
.venv/
__pycache__/
*.py[cod]

# Env files
.env
.env.*
!.env.example

# Build / cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Logs
*.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data outputs
*.xlsx
